{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "plugins": [
    ],
    "rules": {
        "eqeqeq": 2,
        "semi": [
            2,
            "always"
        ],
        "quotes": [
            2,
            "single"
        ],
        "curly": [
            2,
            "all"
        ],
        "no-use-before-define": 0
    },
    "globals": {
    }
}
